<link rel="stylesheet" href="/css/category-menu.css" />

<nav class="category-menu">
  <button class="menu-toggle">
    Kategoriler
    <i class="fas fa-bars"></i>
  </button>
  <ul>
    <li class="has-submenu">
      <a href="/categories?main=woman">Kadın</a>
      <ul class="submenu">
        <li><a href="/categories?main=woman&sub=elbise">Alt kategori</a></li>
        <li>
          <a href="/categories?main=woman&sub=ayakkabi">Alt kategori</a>
        </li>
        <li><a href="/categories?main=woman&sub=canta">Alt kategori</a></li>
        <li><a href="/categories?main=woman&sub=canta">Alt kategori</a></li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=man">Erkek</a>
      <ul class="submenu">
        <li><a href="/categories?main=man&sub=ceket">Alt kategori</a></li>
        <li><a href="/categories?main=man&sub=ayakkabi">Alt kategori</a></li>
        <li><a href="/categories?main=man&sub=saat">Alt kategori</a></li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=child">Anne / Çocuk</a>
      <ul class="submenu">
        <li><a href="/categories?main=child&sub=oyuncak">Alt kategori</a></li>
        <li><a href="/categories?main=child&sub=kiyafet">Alt kategori</a></li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=accessory">Ev & Yaşam</a>
      <ul class="submenu">
        <li>
          <a href="/categories?main=accessory&sub=gozluk">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=accessory">Kozmetik</a>
      <ul class="submenu">
        <li>
          <a href="/categories?main=accessory&sub=gozluk">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=accessory">Ayakkabı & Çanta</a>
      <ul class="submenu">
        <li>
          <a href="/categories?main=accessory&sub=gozluk">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=accessory">Elektronik</a>
      <ul class="submenu">
        <li>
          <a href="/categories?main=accessory&sub=gozluk">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=accessory">Pet Shop</a>
      <ul class="submenu">
        <li>
          <a href="/categories?main=accessory&sub=gozluk">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="/categories?main=accessory">Yapı market</a>
      <ul class="submenu">
        <li>
          <a href="/categories?main=accessory&sub=gozluk">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
        <li>
          <a href="/categories?main=accessory&sub=cuzdan">Alt kategori</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

